.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.navbar li {
	float: right;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

.navbar li a:hover {
	border: 1px solid white;
	background-color: maroon;
}

body {
	margin: 0px;
	background-color: maroon;
}

div {
	border: 2px solid black;
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 5%;
	height: 500px;
	background-color: gray;
}

img {
	height: 100%;
	border-right: 2px solid black;
	float: left;
}

h2 {
	color: white;
	text-align: center;
	font-family: Arial;
	font-size: 36px;
	font-style: italic;
}

.info {
	list-style-type: none;
	font-size: 20px;
	color: white;
	margin-left: 30%;
}

.info a {
	text-decoration: none;
	color:blue;
}

.info a:hover {
	color: orange;
	text-decoration: none;
}
